COMPOSE_PROJECT_NAME=dev_metabase
METABASE_IMAGE=metabase/metabase:v0.50.27
POSTGRES_IMAGE=postgres:16.4
BIND_HOST=127.0.0.1
MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase
MB_DB_PORT=5432
MB_DB_USER=xs
MB_DB_PASS=xsailxma
MB_DB_HOST=metabase-postgres
POSTGRES_DB=metabase
POSTGRES_USER=xs
POSTGRES_PASSWORD=xsailxma
