COMPOSE_PROJECT_NAME=dev_rabbitmq_cluster
RABBITMQ_IMAGE=rabbitmq:3.13.7-management
BIND_HOST=127.0.0.1
RABBITMQ_DEFAULT_USER=xs
RABBITMQ_DEFAULT_PASS=xsailxma
RABBITMQ_ERLANG_COOKIE=xsailxma-dev-cookie
