COMPOSE_PROJECT_NAME=dev_mongo_replica
MONGO_IMAGE=mongo:7.0.14
BIND_HOST=127.0.0.1
MONGO_INITDB_ROOT_USERNAME=xs
MONGO_INITDB_ROOT_PASSWORD=xsailxma
MONGO_INITDB_DATABASE=app_db
MONGO_REPLICA_SET=rs0
