COMPOSE_PROJECT_NAME=dev_mysql_local

MYSQL_IMAGE=mysql:8.0.40
MYSQL_CONTAINER_NAME=dev-mysql-local

BIND_HOST=127.0.0.1
MYSQL_HOST_PORT=13306
MYSQL_CONTAINER_PORT=3306

MYSQL_ROOT_PASSWORD=xsailxma
MYSQL_DATABASE=app_db
MYSQL_USER=xs
MYSQL_PASSWORD=xsailxma

MYSQL_TZ=Asia/Shanghai
