COMPOSE_PROJECT_NAME=dev_mongo_local

MONGO_IMAGE=mongo:7.0.14
MONGO_CONTAINER_NAME=dev-mongo-local

BIND_HOST=127.0.0.1
MONGO_HOST_PORT=37017
MONGO_CONTAINER_PORT=27017

MONGO_INITDB_ROOT_USERNAME=xs
MONGO_INITDB_ROOT_PASSWORD=xsailxma
MONGO_INITDB_DATABASE=app_db
MONGO_TZ=Asia/Shanghai
