COMPOSE_PROJECT_NAME=dev_nacos
NACOS_IMAGE=nacos/nacos-server:v2.4.3
MYSQL_IMAGE=mysql:8.0.40
BIND_HOST=127.0.0.1
MYSQL_ROOT_PASSWORD=xsailxma
MYSQL_DATABASE=nacos
MYSQL_USER=xs
MYSQL_PASSWORD=xsailxma
MYSQL_SERVICE_DB_PARAM=characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true
NACOS_AUTH_TOKEN=eHNhaWx4bWEteHNhaWx4bWEteHNhaWx4bWEteHNhaWx4bWEtMjAyNg==
