COMPOSE_PROJECT_NAME=dev_nacos
NACOS_IMAGE=nacos/nacos-server:v2.4.3
MYSQL_IMAGE=mysql:8.0.40
BIND_HOST=127.0.0.1
MYSQL_ROOT_PASSWORD=xsailxma
MYSQL_DATABASE=nacos
MYSQL_USER=xs
MYSQL_PASSWORD=xsailxma
