COMPOSE_PROJECT_NAME=dev_nginx

NGINX_IMAGE=nginx:1.26.2-alpine
NGINX_CONTAINER_NAME=dev-nginx

BIND_HOST=127.0.0.1
NGINX_HTTP_HOST_PORT=18080
NGINX_HTTP_CONTAINER_PORT=80
NGINX_HTTPS_HOST_PORT=18443
NGINX_HTTPS_CONTAINER_PORT=443
