COMPOSE_PROJECT_NAME=dev_elasticsearch
ELASTIC_IMAGE=docker.elastic.co/elasticsearch/elasticsearch:8.15.1
KIBANA_IMAGE=docker.elastic.co/kibana/kibana:8.15.1
BIND_HOST=127.0.0.1
ELASTIC_PASSWORD=xsailxma
