COMPOSE_PROJECT_NAME=dev_postgres_local

POSTGRES_IMAGE=postgres:16.4
POSTGRES_CONTAINER_NAME=dev-postgres-local

BIND_HOST=127.0.0.1
POSTGRES_HOST_PORT=15432
POSTGRES_CONTAINER_PORT=5432

POSTGRES_DB=app_db
POSTGRES_USER=xs
POSTGRES_PASSWORD=xsailxma
POSTGRES_TZ=Asia/Shanghai
