COMPOSE_PROJECT_NAME=dev_prometheus_grafana
PROMETHEUS_IMAGE=prom/prometheus:v2.54.1
GRAFANA_IMAGE=grafana/grafana:11.2.0
NODE_EXPORTER_IMAGE=prom/node-exporter:v1.8.2
BIND_HOST=127.0.0.1
GRAFANA_ADMIN_USER=xs
GRAFANA_ADMIN_PASSWORD=xsailxma
