COMPOSE_PROJECT_NAME=dev_redis_local

REDIS_IMAGE=redis:6.0.20
REDIS_CONTAINER_NAME=dev-redis-local

BIND_HOST=127.0.0.1
REDIS_HOST_PORT=16379
REDIS_CONTAINER_PORT=6379

REDIS_PASSWORD=xsailxma
REDIS_ACL_USER=xs
REDIS_ACL_PASSWORD=xsailxma
